<launch>
	<!--<include file="$(find livox_ros_driver)/launch/livox_lidar_msg.launch"/>-->
    <include file="$(find livox_ros_driver)/launch/livox_lidar.launch"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_base_broadcaster" 
    args="0.625 0 0.82 0 0.7845 0 base_link livox_frame" />  <!--0.6981   0.7854-->
        <node pkg="tf2_ros" type="static_transform_publisher" name="imu_base_broadcaster" 
    args="0.56 -0.064 0.675 0 0 0 base_link imu_link" />-
	<node pkg="imu" type="imu_node" name="imu_node"/>
        <!--<include file="$(find livox_dedistortion_pkg)/launch/run.launch"/>-->
        <include file="$(find robot_pose_ekf)/ekf.launch"/>
    <!--<node pkg="costmap" type="costmap_node" name="costmap_node"/>-->
</launch>
